@model int

<!-- Modal -->
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        @using (Html.BeginForm("EditPassword", "AdminCustomer", FormMethod.Post, new { @onsubmit = "return validateForm()", @name = "myForm" }))
        {
            <input name="id" value="@Model" style="display:none" />
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thay đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label>
                            Mật khẩu mới
                            <i class="fas fa-asterisk"></i>
                        </label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <div class="form-group">
                        <label>
                            Nhập lại mật khẩu
                            <i class="fas fa-asterisk"></i>
                        </label>
                        <input type="password" class="form-control" name="repassword" required>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-block-modal btn-success">
                    <i class="ace-icon fa fa-check"></i>
                    Cập nhật
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        }
    </div>
</div>
<script>
    function validateForm() {
        var x = document.forms["myForm"]["password"].value;
        var y = document.forms["myForm"]["repassword"].value;
        if (x == "" || x != y) {
            alert("Xác nhận mật khẩu chưa chính xác!");
            return false;
        }
    }
</script>



