
@{
    ViewBag.Title = "ThanhThoanThanhCongVNPay";
}
<div layout:fragment="content-main">
    <div class="sec sec__shopcart">
        <div class="container">
            <div class="nav-steps">
                <div class="nav-step__item active">
                    <span class="number">1</span>
                    <span class="txt">Chọn sản phẩm</span>
                </div>
                <div class="nav-step__item active">
                    <span class="number">2</span>
                    <span class="txt">Nhập thông tin</span>
                </div>
                <div class="nav-step__item waiting">
                    <span class="number">3</span>
                    <span class="txt">Xác nhận</span>
                </div>
            </div>
            <div class="alert alert-success">
                <span class="-ap icon-info-with-circle"></span>
                Bạn đã mua hàng thành công
                <a href="#" class="alert-link">Quay lại trang chủ để tiếp tục mua hàng</a>
            </div>
        </div>

    </div>
</div>