
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="sec sec__contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <h2 class="title__main" style="padding-bottom: 25px;">Giới thiệu</h2>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <p dir="ltr" style="text-align:center"><span style="font-size:22px"><strong>Giới thiệu A Market</strong></span></p>
                </div>
            </div>
            <div class="row">
                <div class="list-contact col-md-5 col-sm-6 col-xs-12">
                    <div class="item">
                        <div class="contact">
                            <p class="info ">
                                <span class="icon -ap icon-old-phone"></span>
                                <span class="name-header">Điện thoại: </span>
                                <span class="disb">(04) 7308 6680</span>
                            </p>
                        </div>
                        <div class="contact">
                            <p class="info ">
                                <span class="icon -ap icon-location3"></span>
                                <span class="name-header texU disb fow">Địa chỉ: </span>
                                <span class="disb">32 Võ Văn Dũng, Đống Đa, Hà Nội</span>
                            </p>
                        </div>
                        <div class="contact">
                            <p class="info ">
                                <span class="icon -ap  icon-envelope2"></span>
                                <span class="name-header texU disb fow">Email:</span>
                                <span class="disb">contact@nhanhoa.com</span>
                            </p>
                        </div>
                        <div class="contact">

                            <p class="info ">
                                <span class="icon -ap icon-access_time"></span>
                                <span class="name-header texU disb fow">Thời gian mở cửa: </span>
                                <span class="disb">Mon - Sat : 9:00 am - 22:00 pm</span>
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14940.985744960893!2d106.14788523625899!3d20.577991318541528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135e9df078eaded%3A0xb9ccfa8f251df4bf!2zSOG7k25nIEFuLCBIxrBuZyBIw6AgRGlzdHJpY3QsIFRoYWkgQmluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1638756561064!5m2!1sen!2s" width="600" height="450" style="border:0;width: 100%;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="form-contact col-md-7 col-sm-6 col-xs-12">
                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>Giới thiệu chung</strong></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">C&ocirc;ng ty Cổ phần X&acirc;y dựng v&agrave; Đầu tư thương mại Ho&agrave;ng H&agrave; sở hữu chuỗi cửa h&agrave;ng A Market - l&agrave; nh&agrave; b&aacute;n lẻ h&agrave;ng đầu, chuy&ecirc;n cung cấp c&aacute;c sản phẩm c&ocirc;ng nghệ ch&iacute;nh h&atilde;ng tại thị trường Việt Nam. Năm 1996, A Market được th&agrave;nh lập, từng bước trở th&agrave;nh địa chỉ đ&aacute;ng tin cậy của người ti&ecirc;u d&ugrave;ng Việt. Với khẩu hiệu &ldquo;</span></span></span><em>Nếu những g&igrave; ch&uacute;ng t&ocirc;i kh&ocirc;ng c&oacute;, nghĩa l&agrave; bạn kh&ocirc;ng cần</em><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">&rdquo;, ch&uacute;ng t&ocirc;i đ&atilde;, đang v&agrave; sẽ tiếp tục nỗ lực đem đến c&aacute;c sản phẩm c&ocirc;ng nghệ ch&iacute;nh h&atilde;ng đa dạng, phong ph&uacute; đi k&egrave;m mức gi&aacute; tốt nhất phục vụ nhu cầu của qu&yacute; kh&aacute;ch h&agrave;ng.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Sau hơn 20 năm ph&aacute;t triển, A Market đ&atilde; trở th&agrave;nh c&aacute;i t&ecirc;n kh&ocirc;ng c&ograve;n xa lạ với người ti&ecirc;u d&ugrave;ng trong nước. Hiện nay ch&uacute;ng t&ocirc;i đang sở hữu mạng lưới hơn 60 chi nh&aacute;nh phủ tại gần 40 tỉnh th&agrave;nh tr&ecirc;n cả nước, trong đ&oacute; bao gồm hai trung t&acirc;m bảo h&agrave;nh tại H&agrave; Nội v&agrave; một trung t&acirc;m bảo h&agrave;nh tại th&agrave;nh phố Hồ Ch&iacute; Minh. Đến với chuỗi cửa h&agrave;ng của A Market, qu&yacute; kh&aacute;ch c&oacute; thể ho&agrave;n to&agrave;n y&ecirc;n t&acirc;m về uy t&iacute;n, chất lượng sản phẩm với mức gi&aacute; rẻ hơn khoảng 15-20% so với gi&aacute; b&aacute;n tr&ecirc;n thị trường. Song song với đ&oacute;, ch&uacute;ng t&ocirc;i cũng lu&ocirc;n nỗ lực phục vụ đem đến trải nghiệm dịch vụ tốt nhất cho kh&aacute;ch h&agrave;ng.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>Những dấu mốc quan trọng</strong></span></span></p>

                    <ul>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 1996</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: Th&agrave;nh lập cửa h&agrave;ng A Market đầu ti&ecirc;n tọa lạc tr&ecirc;n con phố sầm uất của Thủ đ&ocirc; H&agrave; Nội ở địa chỉ 194 L&ecirc; Duẩn.</span></span></span></span></span></li>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 2000</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: A Market ch&iacute;nh thức trở th&agrave;nh nh&agrave; ph&acirc;n phối ĐTDĐ ch&iacute;nh h&atilde;ng hợp t&aacute;c với nhiều nh&atilde;n h&agrave;ng lớn h&agrave;ng đầu như Samsung, OPPO, Nokia, Huawei,...</span></span></span></span></span></li>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 2006</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: Với kinh nghiệm 10 năm trong lĩnh vực b&aacute;n lẻ, A Market ph&aacute;t triển mạnh mẽ v&agrave; li&ecirc;n tục mở th&ecirc;m nhiều chi nh&aacute;nh mới.</span></span></span></span></span></li>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 2016</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: Kỉ niệm 20 năm hoạt động trong lĩnh vực b&aacute;n lẻ c&aacute;c sản phẩm c&ocirc;ng nghệ, A Market đ&atilde; khẳng định được chỗ đứng vững chắc tr&ecirc;n thị trường cũng như trong tiềm thức người ti&ecirc;u d&ugrave;ng.</span></span></span></span></span></li>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 2019</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: A Market ch&iacute;nh thức hợp t&aacute;c với &ocirc;ng lớn ng&agrave;nh viễn th&ocirc;ng MobiFone Việt Nam mở chuỗi chi nh&aacute;nh b&aacute;n h&agrave;ng li&ecirc;n kết, n&acirc;ng tổng số chi nh&aacute;nh tới hơn 60, đồng thời phủ khắp 30 tỉnh th&agrave;nh tr&ecirc;n cả nước. Kể từ đ&oacute;, A Market li&ecirc;n tục đồng h&agrave;nh c&ugrave;ng MobiFone tổ chức c&aacute;c sự kiện lớn nhỏ.&nbsp;</span></span></span></span></span></li>
                        <li><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>&ensp;&ensp;&ensp;&ensp;Năm 2020</strong><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">: A Market tự h&agrave;o trở th&agrave;nh nh&agrave; b&aacute;n lẻ ủy quyền ch&iacute;nh thức của Apple tại Việt Nam. C&aacute;c sản phẩm Apple ch&iacute;nh h&atilde;ng VN/A do Apple Việt Nam ph&acirc;n phối được b&aacute;n tại hệ thống A Market với mức gi&aacute; tốt nhất thị trường c&ugrave;ng chế độ bảo h&agrave;nh uy t&iacute;n.&nbsp;</span></span></span></span></span></li>
                    </ul>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>T&ocirc;n chỉ hoạt động&nbsp;</strong></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">A Market lu&ocirc;n hoạt động dựa tr&ecirc;n t&ocirc;n chỉ đặt kh&aacute;ch h&agrave;ng l&agrave; trung t&acirc;m, mọi nỗ lực để đạt được mục ti&ecirc;u cao nhất l&agrave; l&agrave;m h&agrave;i l&ograve;ng người d&ugrave;ng th&ocirc;ng qua c&aacute;c sản phẩm được cung cấp v&agrave; dịch vụ kh&aacute;ch h&agrave;ng. A Market đang từng bước x&acirc;y dựng dịch vụ kh&aacute;ch h&agrave;ng vượt trội, xứng đ&aacute;ng l&agrave; đơn vị b&aacute;n lẻ h&agrave;ng đầu tại Việt Nam. Sự tin tưởng v&agrave; ủng hộ nhiệt t&igrave;nh của qu&yacute; kh&aacute;ch h&agrave;ng tại chuỗi chi nh&aacute;nh đ&atilde; phần n&agrave;o khẳng định hiệu quả hoạt động của đội ngũ nh&acirc;n vi&ecirc;n A Market.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Đối với qu&yacute; kh&aacute;ch h&agrave;ng, ch&uacute;ng t&ocirc;i lu&ocirc;n đặt c&aacute;i t&acirc;m l&agrave;m gốc, l&agrave;m việc với tinh thần nghi&ecirc;m t&uacute;c, trung thực v&agrave; c&oacute; tr&aacute;ch nhiệm, để mang tới trải nghiệm dịch vụ tốt nhất.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Đối với đồng nghiệp, ch&uacute;ng t&ocirc;i đề cao văn h&oacute;a học hỏi, đo&agrave;n kết, tương trợ lẫn nhau tạo n&ecirc;n m&ocirc;i trường l&agrave;m việc t&ocirc;n trọng - c&ocirc;ng bằng - văn minh cho nh&acirc;n vi&ecirc;n trong c&ocirc;ng ty.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Đối với c&aacute;c đối t&aacute;c, A Market lu&ocirc;n l&agrave;m việc dựa tr&ecirc;n nguy&ecirc;n tắc t&ocirc;n trọng, c&ugrave;ng tạo ra gi&aacute; trị cho cộng đồng v&agrave; c&ugrave;ng ph&aacute;t triển bền vững.&nbsp;&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><strong>Tầm nh&igrave;n v&agrave; sứ mệnh</strong></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Những năm qua, ch&uacute;ng t&ocirc;i kh&ocirc;ng ngừng cải thiện dịch vụ tại c&aacute;c chi nh&aacute;nh v&agrave; hỗ trợ kh&aacute;ch h&agrave;ng qua c&aacute;c k&ecirc;nh online. A Market cam kết mang đến những sản phẩm chất lượng v&agrave; chế độ bảo h&agrave;nh uy t&iacute;n, sẵn s&agrave;ng hỗ trợ kh&aacute;ch h&agrave;ng trong thời gian nhanh nhất.</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Trong tương lai, A Market sẽ tiếp tục mở rộng hệ thống chi nh&aacute;nh, hướng tới mục ti&ecirc;u c&oacute; mặt tại 63 tỉnh th&agrave;nh tr&ecirc;n to&agrave;n quốc. Đồng thời, n&acirc;ng cao chất lượng dịch vụ, hạn chế những rủi ro, lắng nghe v&agrave; tiếp thu g&oacute;p &yacute; của qu&yacute; kh&aacute;ch h&agrave;ng nhằm đem đến trải nghiệm tốt nhất khi mua sắm tại A Market.&nbsp;</span></span></span></span></span></p>

                    <p style="text-align:justify"><span style="font-size:12pt"><span style="font-family:Times New Roman"><span style="font-size:10.0pt"><span style="font-family:Arial,sans-serif"><span style="color:black">Cuối c&ugrave;ng, A Market hy vọng sẽ trở th&agrave;nh nh&agrave; ti&ecirc;n phong đưa những sản phẩm c&ocirc;ng nghệ mới nhất đến tay người d&ugrave;ng sớm nhất, tạo ra cuộc sống hiện đại nơi c&ocirc;ng nghệ kết nối con người, c&ocirc;ng nghệ phục vụ con người</span></span></span></span></span></p>

                    <p dir="ltr" style="text-align:justify">&nbsp;</p>
                </div>
            </div>

        </div>
    </div>
    
    <script>
	    $(document).ready(function() {
	      	$(".catalog__item").removeClass("active")
	      	$(".layout_menu_gioiThieu").addClass("active")
	    });

    </script>
</div>